* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: pink;
}

#inner_arrow {
    background-color: lightblue;
    margin: 0 auto;
    padding: 2rem;
    max-width: 70rem;
}

#card {
    position: relative;
    background-color: grey;
    display: block;
    width: 30rem;
    height: 12rem;
    margin: 2rem auto;
    padding: 0.5rem;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: inset 0 0 20px black;
    border-top-right-radius: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 3px;
    color: white;
    #shape_articlePic {
        position: relative;
        overflow: hidden;
        height: 7rem;
        width: 7rem;
        transform: rotate(45deg);
        border: 2px solid black;
        box-shadow: 0 0 10px black;
        margin-bottom: 2rem;
        img {
            width: 100%;
            height: 100%;
            transform: rotate(-45deg) scale(1.5);
        }
    }
    article {
        position: absolute;
        top: 0;
        padding: 0 0.5rem 0.5rem 7rem;
        text-shadow: 0 0 5px black;
        h2 {
            padding: 0.8rem 0 0 3rem;
            line-height: 1rem;
        }
        p {
            // overflow: hidden;
            padding-left: 1rem;
            display: block;
            font-size: 0.9rem;
        }
    }
}



.card{
    background-color: red;
}
.card2{

}